In [74]:
import pandas as pd

In [99]:
data = pd.read_csv("C:\\Users\\vijay\\Desktop\\data12\\movies_metadata.csv")
data.head(15)

c:\python39\lib\site-packages\IPython\core\interactiveshell.py:3169: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
5,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,1995-12-15,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0
6,False,NaN,58000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,...,1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Fran√ßais'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0
7,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",...,1995-12-22,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45.0
8,False,NaN,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,...,1995-12-22,64350171.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,False,5.5,174.0
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,1995-11-16,352194034.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0
10,False,NaN,62000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9087,tt0112346,en,The American President,"Widowed U.S. president Andrew Shepherd, one of...",...,1995-11-17,107879496.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Why can't the most powerful man in the world h...,The American President,False,6.5,199.0
11,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",NaN,12110,tt0112896,en,Dracula: Dead and Loving It,When a lawyer shows up at the vampire's doorst...,...,1995-12-22,0.0,88.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Dracula: Dead and Loving It,False,5.7,210.0
12,False,"{'id': 117693, 'name': 'Balto Collection', 'po...",0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,21032,tt0112453,en,Balto,An outcast half-wolf risks his life to prevent...,...,1995-12-22,11348324.0,78.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Part Dog. Part Wolf. All Hero.,Balto,False,7.1,423.0
13,False,NaN,44000000,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",NaN,10858,tt0113987,en,Nixon,An all-star cast powers this epic look at Amer...,...,1995-12-22,13681765.0,192.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Triumphant in Victory, Bitter in Defeat. He Ch...",Nixon,False,7.1,72.0
14,False,NaN,98000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,1408,tt0112760,en,Cutthroat Island,"Morgan Adams and her slave, William Shaw, are ...",...,1995-12-22,10017322.0,119.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Course Has Been Set. There Is No Turning B...,Cutthroat Island,False,5.7,137.0

In [76]:
data.shape

(45466, 24)

In [77]:
data.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

# adult

In [78]:
data.adult.unique()

array(['False', 'True', ' - Written by √òrn√•s',
       ' Rune Balot goes to a casino connected to the October corporation to try to wrap up her case once and for all.',
       ' Avalanche Sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.'],
      dtype=object)

In [79]:
data.loc[~data.adult.isin(['False','True']),:]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
19730,- Written by √òrn√•s,0.065736,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,"[{'name': 'Carousel Productions', 'id': 11176}...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1997-08-20,0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29503,Rune Balot goes to a casino connected to the ...,1.931659,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,"[{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...","[{'iso_3166_1': 'US', 'name': 'United States o...",2012-09-29,0,68.0,"[{'iso_639_1': 'ja', 'name': 'Êó•Êú¨Ë™û'}]",Released,...,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35587,Avalanche Sharks tells the story of a bikini ...,2.185485,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,"[{'name': 'Odyssey Media', 'id': 17161}, {'nam...","[{'iso_3166_1': 'CA', 'name': 'Canada'}]",2014-01-01,0,82.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
data.adult.value_counts()

False                                                                                                                             45454
True                                                                                                                                  9
 Rune Balot goes to a casino connected to the October corporation to try to wrap up her case once and for all.                        1
 - Written by √òrn√•s                                                                                                                   1
 Avalanche Sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.        1
Name: adult, dtype: int64

In [81]:
data.adult.unique()

array(['False', 'True', ' - Written by √òrn√•s',
       ' Rune Balot goes to a casino connected to the October corporation to try to wrap up her case once and for all.',
       ' Avalanche Sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.'],
      dtype=object)

In [82]:
data.adult.unique()
data.adult.value_counts()


data = data.loc[data.adult.isin(['False','True']),:]
data.adult.unique()
data.shape

(45463, 24)

In [83]:
data.adult.value_counts()

False    45454
True         9
Name: adult, dtype: int64

In [84]:
data.adult = data.adult.map({'True':True,'False':False})
data.adult

0        False
1        False
2        False
3        False
4        False
         ...
45461    False
45462    False
45463    False
45464    False
45465    False
Name: adult, Length: 45463, dtype: bool

In [85]:
data.loc[~data.adult.isin(['False','True']),:]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,ÿ±⁄Ø ÿÆŸàÿßÿ®,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'ŸÅÿßÿ±ÿ≥€å'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [86]:
data.adult.values[19730]

False

# belongs to collection

In [87]:
data.belongs_to_collection.values[0]

"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}"

In [88]:
import ast
ast.literal_eval(data.belongs_to_collection.values[0])['id']

10194

In [89]:
2 == 2

True

In [90]:
import numpy as np
np.nan == np.nan

False

In [91]:
import ast

collectionIds = []
for i in data['belongs_to_collection'].values:
    if i != i:
        collectionIds.append(-1)
        continue
    collectionIds.append(ast.literal_eval(i)['id'])

data['collectionId'] = collectionIds
data = data.drop(columns = ['belongs_to_collection'])

In [92]:
data

,adult,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,collectionId
0,False,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,10194
1,False,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,-1
2,False,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,119050
3,False,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,...,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,-1
4,False,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,96871
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,ÿ±⁄Ø ÿÆŸàÿßÿ®,Rising and falling between a man and woman.,0.072051,...,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'ŸÅÿßÿ±ÿ≥€å'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,-1
45462,False,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,...,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0,-1
45463,False,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,...,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,-1
45464,False,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,...,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0,-1
45465,False,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,...,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0,-1

# data budget

In [93]:
data.budget.value_counts()

0           36573
5000000       286
10000000      259
20000000      243
2000000       242
            ...
4439832         1
421496          1
1073000         1
6965576         1
662141          1
Name: budget, Length: 1223, dtype: int64

In [94]:
data.budget.describe()

count     45463
unique     1223
top           0
freq      36573
Name: budget, dtype: object

In [95]:
data.budget = data.budget.astype('int64')

In [96]:
data.dtypes

adult                      bool
budget                    int64
genres                   object
homepage                 object
id                       object
imdb_id                  object
original_language        object
original_title           object
overview                 object
popularity               object
poster_path              object
production_companies     object
production_countries     object
release_date             object
revenue                 float64
runtime                 float64
spoken_languages         object
status                   object
tagline                  object
title                    object
video                    object
vote_average            float64
vote_count              float64
collectionId              int64
dtype: object

In [97]:
data.budget = data.budget.astype('int64')
data.budget.describe()

count    4.546300e+04
mean     4.224579e+06
std      1.742413e+07
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      3.800000e+08
Name: budget, dtype: float64

In [98]:
sum(data.budget == 0)*100/data.shape[0]

80.44563711149726

# Genres

In [100]:
data.genres.values[0] #pandas -> string, list of dictionaries

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [101]:
import ast
index = 0
gen1 = []

for gen in data.genres.values:
  genList = ast.literal_eval(gen) ## converts string to list of dictionary
  if len(genList) > index: ##if the list has atleast one genre
    gen1.append(genList[0]['name']) #mark the id of the genre
  else:
    gen1.append('') #mark 0 as the id

data['genre1'] = gen1 #we have identified genre1

In [102]:
import ast
index = 1
gen2 = []

for gen in data.genres.values:
  genList = ast.literal_eval(gen) #converts string to list
  if len(genList) > index: # checks if the number of genres > 1
    gen2.append(genList[1]['name']) #takes the 2nd genre and appends to a list
  else:
    gen2.append('') #if the genre 2 is not present, append 0

data['genre2'] = gen2

In [103]:
import ast
index = 2
gen3 = []

for gen in data.genres.values:
  genList = ast.literal_eval(gen)
  if len(genList) > index:
    gen3.append(genList[2]['name'])
  else:
    gen3.append('')

data['genre3'] = gen3

In [104]:
import ast
index = 3
gen4 = []

for gen in data.genres.values:
  genList = ast.literal_eval(gen)
  if len(genList) > index:
    gen4.append(genList[3]['name'])
  else:
    gen4.append('')

data['genre4'] = gen4

In [105]:
sum(data.genre4 == '')*100/data.shape[0]

90.32463819117582

In [106]:
data = data.drop(columns = ['genres'])

In [107]:
data

,adult,belongs_to_collection,budget,homepage,id,imdb_id,original_language,original_title,overview,popularity,...,status,tagline,title,video,vote_average,vote_count,genre1,genre2,genre3,genre4
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,Released,NaN,Toy Story,False,7.7,5415.0,Animation,Comedy,Family,
1,False,NaN,65000000,NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,...,Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,Adventure,Fantasy,Family,
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,...,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,Romance,Comedy,,
3,False,NaN,16000000,NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,...,Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,Comedy,Drama,Romance,
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,...,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,Comedy,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,ÿ±⁄Ø ÿÆŸàÿßÿ®,Rising and falling between a man and woman.,0.072051,...,Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,Drama,Family,,
45462,False,NaN,0,NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,...,Released,NaN,Century of Birthing,False,9.0,3.0,Drama,,,
45463,False,NaN,0,NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,...,Released,A deadly game of wits.,Betrayal,False,3.8,6.0,Action,Drama,Thriller,
45464,False,NaN,0,NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,...,Released,NaN,Satan Triumphant,False,0.0,0.0,,,,
45465,False,NaN,0,NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,...,Released,NaN,Queerama,False,0.0,0.0,,,,

# homepage

In [112]:
data.homepage.isnull().sum()*100/data.shape[0]

AttributeError: 'DataFrame' object has no attribute 'homepage'

In [109]:
data['homePagePresent'] = (~data.homepage.isnull()) #fasle- if null in home page else true

In [110]:
data = data.drop(columns = ['homepage'])

In [111]:
data

,adult,belongs_to_collection,budget,id,imdb_id,original_language,original_title,overview,popularity,poster_path,...,tagline,title,video,vote_average,vote_count,genre1,genre2,genre3,genre4,homePagePresent
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,...,NaN,Toy Story,False,7.7,5415.0,Animation,Comedy,Family,,True
1,False,NaN,65000000,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,...,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,Adventure,Fantasy,Family,,False
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,...,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,Romance,Comedy,,,False
3,False,NaN,16000000,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,...,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,Comedy,Drama,Romance,,False
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,...,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,Comedy,,,,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,439050,tt6209470,fa,ÿ±⁄Ø ÿÆŸàÿßÿ®,Rising and falling between a man and woman.,0.072051,/jldsYflnId4tTWPx8es3uzsB1I8.jpg,...,Rising and falling between a man and woman,Subdue,False,4.0,1.0,Drama,Family,,,True
45462,False,NaN,0,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,...,NaN,Century of Birthing,False,9.0,3.0,Drama,,,,False
45463,False,NaN,0,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,...,A deadly game of wits.,Betrayal,False,3.8,6.0,Action,Drama,Thriller,,False
45464,False,NaN,0,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,...,NaN,Satan Triumphant,False,0.0,0.0,,,,,False
45465,False,NaN,0,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg,...,NaN,Queerama,False,0.0,0.0,,,,,False

id

In [113]:
(data.shape[0] - len(data.id.unique()))
data = data.drop_duplicates(subset = 'id')

In [114]:
data.id.unique

<bound method Series.unique of 0           862
1          8844
2         15602
3         31357
4         11862
          ...
45461    439050
45462    111109
45463     67758
45464    227506
45465    461257
Name: id, Length: 45436, dtype: object>

In [115]:
data.imdb_id.values[0]
(data.shape[0] - len(data.imdb_id.unique()))
data = data.drop_duplicates(subset = 'imdb_id')

In [116]:
data.imdb_id.unique

<bound method Series.unique of 0        tt0114709
1        tt0113497
2        tt0113228
3        tt0114885
4        tt0113041
           ...
45461    tt6209470
45462    tt2028550
45463    tt0303758
45464    tt0008536
45465    tt6980792
Name: imdb_id, Length: 45418, dtype: object>

# orginal values

In [117]:
len(data.original_language.unique())

91

In [118]:
len(data.original_language.unique())
data.original_language.isnull().sum()
data.loc[data.original_language.isnull(),:]
data = data.dropna(subset = ['original_language'])

In [119]:
data.original_language.isnull().sum()

0

In [120]:
data.loc[data.original_language.isnull(),:]

Empty DataFrame
Columns: [adult, belongs_to_collection, budget, id, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count, genre1, genre2, genre3, genre4, homePagePresent]
Index: []

[0 rows x 27 columns]

In [121]:
len(data.original_language.unique())
data.original_language.isnull().sum()
data.loc[data.original_language.isnull(),:]
data = data.dropna(subset = ['original_language'])

In [122]:
data

,adult,belongs_to_collection,budget,id,imdb_id,original_language,original_title,overview,popularity,poster_path,...,tagline,title,video,vote_average,vote_count,genre1,genre2,genre3,genre4,homePagePresent
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,...,NaN,Toy Story,False,7.7,5415.0,Animation,Comedy,Family,,True
1,False,NaN,65000000,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,...,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,Adventure,Fantasy,Family,,False
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,...,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,Romance,Comedy,,,False
3,False,NaN,16000000,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,...,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,Comedy,Drama,Romance,,False
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,...,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,Comedy,,,,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,439050,tt6209470,fa,ÿ±⁄Ø ÿÆŸàÿßÿ®,Rising and falling between a man and woman.,0.072051,/jldsYflnId4tTWPx8es3uzsB1I8.jpg,...,Rising and falling between a man and woman,Subdue,False,4.0,1.0,Drama,Family,,,True
45462,False,NaN,0,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,...,NaN,Century of Birthing,False,9.0,3.0,Drama,,,,False
45463,False,NaN,0,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,...,A deadly game of wits.,Betrayal,False,3.8,6.0,Action,Drama,Thriller,,False
45464,False,NaN,0,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,...,NaN,Satan Triumphant,False,0.0,0.0,,,,,False
45465,False,NaN,0,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg,...,NaN,Queerama,False,0.0,0.0,,,,,False

# title

In [123]:
data.title.isnull().sum(), len(data.title.unique())*100/data.shape[0]

(4, 93.05613671900808)

In [124]:
data.original_title.isnull().sum(), len(data.original_title.unique())*100/data.shape[0]

(0, 95.46325456427424)

In [125]:
data = data.drop(columns = ['title'])

In [126]:
data.original_title = data['original_title'].str.lower()
data.original_title = data['original_title'].str.strip()

In [127]:
data.original_title

0                          toy story
1                            jumanji
2                   grumpier old men
3                  waiting to exhale
4        father of the bride part ii
                    ...
45461                        ÿ±⁄Ø ÿÆŸàÿßÿ®
45462            siglo ng pagluluwal
45463                       betrayal
45464            satana likuyushchiy
45465                       queerama
Name: original_title, Length: 45407, dtype: object

# overview == lower and upper and remove unwanted space

In [130]:
data.overview = data.overview.str.lower()
data.overview = data.overview.str.strip()
data.overview

0        led by woody, andy's toys live happily in his ...
1        when siblings judy and peter discover an encha...
2        a family wedding reignites the ancient feud be...
3        cheated on, mistreated and stepped on, the wom...
4        just when george banks has recovered from his ...
                               ...
45461          rising and falling between a man and woman.
45462    an artist struggles to finish his work while a...
45463    when one of her hits goes wrong, a professiona...
45464    in a small town live two brothers, one a minis...
45465    50 years after decriminalisation of homosexual...
Name: overview, Length: 45407, dtype: object

# data popularity

In [131]:
data.popularity

0        21.946943
1        17.015539
2          11.7129
3         3.859495
4         8.387519
           ...
45461     0.072051
45462     0.178241
45463     0.903007
45464     0.003503
45465     0.163015
Name: popularity, Length: 45407, dtype: object

In [132]:
data.popularity.dtypes

dtype('O')

In [133]:
data.dtypes

adult                     object
belongs_to_collection     object
budget                    object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
video                     object
vote_average             float64
vote_count               float64
genre1                    object
genre2                    object
genre3                    object
genre4                    object
homePagePresent             bool
dtype: object

In [134]:
data.popularity = data.popularity.astype('float64') ##floating point value
data.popularity.describe()
#data.popularity.quantile(0.999)
#sum(data.popularity > 100)

count    45403.000000
mean         2.922572
std          6.008171
min          0.000000
25%          0.386396
50%          1.128080
75%          3.680236
max        547.488298
Name: popularity, dtype: float64

In [135]:
##outlier detection - 1) domain knowledge 2) u need to handle them
data.popularity = data.popularity.clip(0,50)
#data = data.loc[(data.popularity > 0) & (data.popularity <= 100),:]

# vote count vote average

In [136]:
data.vote_count.describe()

count    45403.000000
mean       109.997643
std        491.605860
min          0.000000
25%          3.000000
50%         10.000000
75%         34.000000
max      14075.000000
Name: vote_count, dtype: float64

In [137]:
data.vote_count.isna().sum()

4

In [138]:
data = data.loc[~data.vote_count.isna(),:]

In [139]:
data.vote_count.value_counts()

1.0       3259
2.0       3129
0.0       2885
3.0       2780
4.0       2479
          ...
838.0        1
1432.0       1
1825.0       1
4110.0       1
992.0        1
Name: vote_count, Length: 1820, dtype: int64

In [140]:
data.vote_average.isna().sum()

0

In [141]:
data.dtypes

adult                     object
belongs_to_collection     object
budget                    object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity               float64
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
video                     object
vote_average             float64
vote_count               float64
genre1                    object
genre2                    object
genre3                    object
genre4                    object
homePagePresent             bool
dtype: object

In [142]:
data.vote_average = data.vote_average.astype('float64')
data.vote_count = data.vote_count.astype('int64')

In [143]:
data.dtypes

adult                     object
belongs_to_collection     object
budget                    object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity               float64
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
video                     object
vote_average             float64
vote_count                 int64
genre1                    object
genre2                    object
genre3                    object
genre4                    object
homePagePresent             bool
dtype: object

In [145]:
data.vote_average.describe()

count    45403.000000
mean         5.619461
std          1.922518
min          0.000000
25%          5.000000
50%          6.000000
75%          6.800000
max         10.000000
Name: vote_average, dtype: float64

In [146]:
data.vote_count.describe()

count    45403.000000
mean       109.997643
std        491.605860
min          0.000000
25%          3.000000
50%         10.000000
75%         34.000000
max      14075.000000
Name: vote_count, dtype: float64

# poster path

In [148]:
data.poster_path.values #null value, unique values, file exists in the path or not

array(['/rhIRbceoE9lR4veEXuwCC2wARtG.jpg',
       '/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg',
       '/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg', ...,
       '/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg',
       '/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg',
       '/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg'], dtype=object)

In [150]:
data.poster_path.isnull().sum()

378

In [151]:
import os
os.path.isfile('/rhIRbceoE9lR4veEXuwCC2wARtG.jpg')

False

In [152]:
data = data.drop(columns = ['poster_path'])

# production companies

In [153]:
data.production_companies.values[0]

"[{'name': 'Pixar Animation Studios', 'id': 3}]"

In [154]:
import ast
index = 0
prod1 = []

for prod in data.production_companies.values:
  prodList = ast.literal_eval(prod)
  if len(genList) > index:
    prod1.append(prodList[index]['name'])
  else:
    prod1.append('')

data['Producer1'] = prod1

In [159]:
import ast
index = 1
prod2 = []

for prod in data.production_companies.values:
  prodList = ast.literal_eval(prod)
  if len(genList) > index:
    prod2.append(prodList[index]['name'])
  else:
    prod2.append('')

data['Producer2'] = prod2

AttributeError: 'DataFrame' object has no attribute 'production_companies'

In [160]:
data.head()

,adult,belongs_to_collection,budget,id,imdb_id,original_language,original_title,overview,popularity,production_countries,...,video,vote_average,vote_count,genre1,genre2,genre3,genre4,homePagePresent,Producer1,Producer2
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,862,tt0114709,en,toy story,"led by woody, andy's toys live happily in his ...",21.946943,"[{'iso_3166_1': 'US', 'name': 'United States o...",...,False,7.7,5415,Animation,Comedy,Family,,True,,
1,False,NaN,65000000,8844,tt0113497,en,jumanji,when siblings judy and peter discover an encha...,17.015539,"[{'iso_3166_1': 'US', 'name': 'United States o...",...,False,6.9,2413,Adventure,Fantasy,Family,,False,,
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,15602,tt0113228,en,grumpier old men,a family wedding reignites the ancient feud be...,11.712900,"[{'iso_3166_1': 'US', 'name': 'United States o...",...,False,6.5,92,Romance,Comedy,,,False,,
3,False,NaN,16000000,31357,tt0114885,en,waiting to exhale,"cheated on, mistreated and stepped on, the wom...",3.859495,"[{'iso_3166_1': 'US', 'name': 'United States o...",...,False,6.1,34,Comedy,Drama,Romance,,False,,
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,11862,tt0113041,en,father of the bride part ii,just when george banks has recovered from his ...,8.387519,"[{'iso_3166_1': 'US', 'name': 'United States o...",...,False,5.7,173,Comedy,,,,False,,

In [161]:
data.release_date.values[0]

'1995-10-30'

In [162]:
data.release_date.isnull().sum()

81

In [163]:
data.release_date

0        1995-10-30
1        1995-12-15
2        1995-12-22
3        1995-12-22
4        1995-02-10
            ...
45461           NaN
45462    2011-11-17
45463    2003-08-01
45464    1917-10-21
45465    2017-06-09
Name: release_date, Length: 45403, dtype: object

In [164]:
data.loc[data.release_date.isnull(),:]

,adult,belongs_to_collection,budget,id,imdb_id,original_language,original_title,overview,popularity,production_countries,...,video,vote_average,vote_count,genre1,genre2,genre3,genre4,homePagePresent,Producer1,Producer2
711,False,NaN,0,365371,tt0114894,en,war stories our mother never told us,seven new zealand women speak about their live...,0.005625,[],...,False,0.0,0,,,,,False,,
734,False,NaN,0,215107,tt0105737,en,vermont is for lovers,vermont is for lovers is an independently prod...,0.750000,[],...,False,0.0,0,,,,,False,,
3460,False,NaN,0,94214,tt0210130,en,"jails, hospitals & hip-hop","jails, hospitals &amp; hip-hop is a cinematic ...",0.009057,[],...,False,0.0,0,Drama,,,,False,,
3628,False,NaN,0,207731,tt0217287,en,boricua's bond,"tommy, a talented puerto rican painter living ...",0.035352,[],...,False,2.0,1,,,,,False,,
5879,False,NaN,0,99885,tt0979876,en,divine intervention,four friends fight an insane man's crusade to ...,0.001181,[],...,False,0.0,0,Drama,Romance,Foreign,,False,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45148,False,NaN,0,438910,tt0810384,ru,konstruktor krasnogo tsveta -1993,engineering red - 1993 dir: andrey i. y. petr...,0.001586,[],...,False,6.0,2,,,,,False,,
45203,False,NaN,0,433711,tt3158690,en,all superheroes must die 2: the last superhero,"in a no holds barred documentary, acclaimed jo...",0.000220,[],...,False,4.0,1,Mystery,Science Fiction,,,False,,
45338,False,NaN,0,335251,tt1883368,en,the land where the blues began,an exploration of the musical and social origi...,0.000000,[],...,False,0.0,0,,,,,False,,
45410,False,NaN,0,449131,tt0321264,ru,aprel,NaN,0.008903,"[{'iso_3166_1': 'RU', 'name': 'Russia'}]",...,False,6.0,1,Drama,Crime,,,False,,
45461,False,NaN,0,439050,tt6209470,fa,ÿ±⁄Ø ÿÆŸàÿßÿ®,rising and falling between a man and woman.,0.072051,"[{'iso_3166_1': 'IR', 'name': 'Iran'}]",...,False,4.0,1,Drama,Family,,,True,,

In [165]:
import datetime
dateString = '17-07-2021'
date = datetime.datetime.strptime(dateString, "%d-%m-%Y") #string to datetime
date + datetime.timedelta(days = 15)
#date.strftime("%d-%b-%Y") #datetime -> string

datetime.datetime(2021, 8, 1, 0, 0)

In [171]:
data.dtypes

adult                     object
belongs_to_collection     object
budget                    object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity               float64
production_countries      object
release_date              object
revenue                    int64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
video                     object
vote_average             float64
vote_count                 int64
genre1                    object
genre2                    object
genre3                    object
genre4                    object
homePagePresent             bool
Producer1                 object
Producer2                 object
dtype: object

# revenues

In [167]:
data.revenue = data.revenue.astype('int64')

In [168]:
data.revenue.describe()

count    4.540300e+04
mean     1.121955e+07
std      6.437068e+07
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      2.787965e+09
Name: revenue, dtype: float64

In [169]:
sum(data.revenue == 0)*100/data.shape[0]

83.7059225161333

# runtime

In [170]:
data.runtime = data.runtime.astype('float64')
data.runtime.describe()

count    45148.000000
mean        94.141845
std         38.402492
min          0.000000
25%         85.000000
50%         95.000000
75%        107.000000
max       1256.000000
Name: runtime, dtype: float64

In [172]:
data.loc[data.runtime > 300,:]

,adult,belongs_to_collection,budget,id,imdb_id,original_language,original_title,overview,popularity,production_countries,...,video,vote_average,vote_count,genre1,genre2,genre3,genre4,homePagePresent,Producer1,Producer2
6747,False,NaN,0,42044,tt0090015,en,shoah,claude lanzmann directed this 9 1/2 hour docum...,1.978031,"[{'iso_3166_1': 'FR', 'name': 'France'}]",...,False,8.7,36,Documentary,,,,False,,
7415,False,NaN,0,140207,tt0080297,en,tinker tailor soldier spy,"in the bleak days of the cold war, espionage v...",1.564586,"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",...,False,7.6,10,Thriller,Drama,Mystery,,False,,
7420,False,NaN,0,11659,tt0346336,it,la meglio giovent√∫,"spanning four decades, from the chaotic 1960s ...",6.040001,"[{'iso_3166_1': 'IT', 'name': 'Italy'}]",...,False,8.0,88,Drama,,,,False,,
7933,False,"{'id': 138163, 'name': 'Trylogia Sienkiewicza'...",0,36627,tt0072021,pl,potop,"following with fire and sword', this is an ada...",0.868637,"[{'iso_3166_1': 'PL', 'name': 'Poland'}]",...,False,7.4,7,History,Adventure,War,,False,,
8635,False,NaN,100000000,29266,tt0063794,ru,–≤–æ–π–Ω–∞ –∏ –º–∏—Ä,seven-hour epic based on the eponymous book by...,2.604571,"[{'iso_3166_1': 'RU', 'name': 'Russia'}]",...,False,7.5,16,War,Drama,History,Romance,False,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44176,False,NaN,0,444623,tt0366028,ru,idiot,tv miniseries of the dostoevsky novel.,0.074146,[],...,False,7.0,1,TV Movie,,,,False,,
44464,False,NaN,0,197854,tt0143353,ja,Âº∑ÊÆñË£ÖÁî≤„Ç¨„Ç§„Éê„Éº,sho and his friend tetsurou stumble upon an od...,0.025827,"[{'iso_3166_1': 'JP', 'name': 'Japan'}]",...,False,6.2,5,Science Fiction,Animation,Foreign,Action,False,,
44721,False,NaN,0,458298,tt6792200,en,the keepers,a seven-part docuseries about the unsolved mur...,1.576170,"[{'iso_3166_1': 'US', 'name': 'United States o...",...,False,7.9,16,Crime,Documentary,Drama,,True,,
44758,False,NaN,0,128733,tt0080230,en,hollywood,the definitive documentary about the american ...,0.055713,[],...,False,8.0,1,,,,,False,,
45462,False,NaN,0,111109,tt2028550,tl,siglo ng pagluluwal,an artist struggles to finish his work while a...,0.178241,"[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",...,False,9.0,3,Drama,,,,False,,

# spoken languages

In [173]:
data.spoken_languages

0                 [{'iso_639_1': 'en', 'name': 'English'}]
1        [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2                 [{'iso_639_1': 'en', 'name': 'English'}]
3                 [{'iso_639_1': 'en', 'name': 'English'}]
4                 [{'iso_639_1': 'en', 'name': 'English'}]
                               ...
45461               [{'iso_639_1': 'fa', 'name': 'ŸÅÿßÿ±ÿ≥€å'}]
45462                    [{'iso_639_1': 'tl', 'name': ''}]
45463             [{'iso_639_1': 'en', 'name': 'English'}]
45464                                                   []
45465             [{'iso_639_1': 'en', 'name': 'English'}]
Name: spoken_languages, Length: 45403, dtype: object

In [174]:
import ast
totalLanguages = []

for prod in data.spoken_languages.values:
  prodList = ast.literal_eval(prod) #converting from string to list of dictionary 
  totalLanguages.append(len(prodList)) #how many languages spoken?

data['TotalLanguages'] = totalLanguages

In [175]:
data.spoken_languages

0                 [{'iso_639_1': 'en', 'name': 'English'}]
1        [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2                 [{'iso_639_1': 'en', 'name': 'English'}]
3                 [{'iso_639_1': 'en', 'name': 'English'}]
4                 [{'iso_639_1': 'en', 'name': 'English'}]
                               ...
45461               [{'iso_639_1': 'fa', 'name': 'ŸÅÿßÿ±ÿ≥€å'}]
45462                    [{'iso_639_1': 'tl', 'name': ''}]
45463             [{'iso_639_1': 'en', 'name': 'English'}]
45464                                                   []
45465             [{'iso_639_1': 'en', 'name': 'English'}]
Name: spoken_languages, Length: 45403, dtype: object

# status

In [176]:
data.status.value_counts()

Released           44961
Rumored              226
Post Production       98
In Production         20
Planned               15
Canceled               2
Name: status, dtype: int64

In [177]:
data.columns

Index(['adult', 'belongs_to_collection', 'budget', 'id', 'imdb_id',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'video', 'vote_average',
       'vote_count', 'genre1', 'genre2', 'genre3', 'genre4', 'homePagePresent',
       'Producer1', 'Producer2', 'TotalLanguages'],
      dtype='object')

others

In [178]:
data.tagline.isnull().sum()

25005

In [179]:
data.video.value_counts()

False    45310
True        93
Name: video, dtype: int64

In [180]:
data = data.drop(columns = ['tagline','video'])

In [181]:
data.head()

,adult,belongs_to_collection,budget,id,imdb_id,original_language,original_title,overview,popularity,production_countries,...,vote_average,vote_count,genre1,genre2,genre3,genre4,homePagePresent,Producer1,Producer2,TotalLanguages
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,862,tt0114709,en,toy story,"led by woody, andy's toys live happily in his ...",21.946943,"[{'iso_3166_1': 'US', 'name': 'United States o...",...,7.7,5415,Animation,Comedy,Family,,True,,,1
1,False,NaN,65000000,8844,tt0113497,en,jumanji,when siblings judy and peter discover an encha...,17.015539,"[{'iso_3166_1': 'US', 'name': 'United States o...",...,6.9,2413,Adventure,Fantasy,Family,,False,,,2
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,15602,tt0113228,en,grumpier old men,a family wedding reignites the ancient feud be...,11.712900,"[{'iso_3166_1': 'US', 'name': 'United States o...",...,6.5,92,Romance,Comedy,,,False,,,1
3,False,NaN,16000000,31357,tt0114885,en,waiting to exhale,"cheated on, mistreated and stepped on, the wom...",3.859495,"[{'iso_3166_1': 'US', 'name': 'United States o...",...,6.1,34,Comedy,Drama,Romance,,False,,,1
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,11862,tt0113041,en,father of the bride part ii,just when george banks has recovered from his ...,8.387519,"[{'iso_3166_1': 'US', 'name': 'United States o...",...,5.7,173,Comedy,,,,False,,,1

# final data

In [182]:
data

,adult,belongs_to_collection,budget,id,imdb_id,original_language,original_title,overview,popularity,production_countries,...,vote_average,vote_count,genre1,genre2,genre3,genre4,homePagePresent,Producer1,Producer2,TotalLanguages
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,862,tt0114709,en,toy story,"led by woody, andy's toys live happily in his ...",21.946943,"[{'iso_3166_1': 'US', 'name': 'United States o...",...,7.7,5415,Animation,Comedy,Family,,True,,,1
1,False,NaN,65000000,8844,tt0113497,en,jumanji,when siblings judy and peter discover an encha...,17.015539,"[{'iso_3166_1': 'US', 'name': 'United States o...",...,6.9,2413,Adventure,Fantasy,Family,,False,,,2
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,15602,tt0113228,en,grumpier old men,a family wedding reignites the ancient feud be...,11.712900,"[{'iso_3166_1': 'US', 'name': 'United States o...",...,6.5,92,Romance,Comedy,,,False,,,1
3,False,NaN,16000000,31357,tt0114885,en,waiting to exhale,"cheated on, mistreated and stepped on, the wom...",3.859495,"[{'iso_3166_1': 'US', 'name': 'United States o...",...,6.1,34,Comedy,Drama,Romance,,False,,,1
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,11862,tt0113041,en,father of the bride part ii,just when george banks has recovered from his ...,8.387519,"[{'iso_3166_1': 'US', 'name': 'United States o...",...,5.7,173,Comedy,,,,False,,,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,439050,tt6209470,fa,ÿ±⁄Ø ÿÆŸàÿßÿ®,rising and falling between a man and woman.,0.072051,"[{'iso_3166_1': 'IR', 'name': 'Iran'}]",...,4.0,1,Drama,Family,,,True,,,1
45462,False,NaN,0,111109,tt2028550,tl,siglo ng pagluluwal,an artist struggles to finish his work while a...,0.178241,"[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",...,9.0,3,Drama,,,,False,,,1
45463,False,NaN,0,67758,tt0303758,en,betrayal,"when one of her hits goes wrong, a professiona...",0.903007,"[{'iso_3166_1': 'US', 'name': 'United States o...",...,3.8,6,Action,Drama,Thriller,,False,,,1
45464,False,NaN,0,227506,tt0008536,en,satana likuyushchiy,"in a small town live two brothers, one a minis...",0.003503,"[{'iso_3166_1': 'RU', 'name': 'Russia'}]",...,0.0,0,,,,,False,,,0
45465,False,NaN,0,461257,tt6980792,en,queerama,50 years after decriminalisation of homosexual...,0.163015,"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",...,0.0,0,,,,,False,,,1

In [183]:
dataBudgetRevenue  = data.loc[(data.budget != 0) & (data.revenue != 0),:]
dataBudgetRevenue

,adult,belongs_to_collection,budget,id,imdb_id,original_language,original_title,overview,popularity,production_countries,...,vote_average,vote_count,genre1,genre2,genre3,genre4,homePagePresent,Producer1,Producer2,TotalLanguages
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,862,tt0114709,en,toy story,"led by woody, andy's toys live happily in his ...",21.946943,"[{'iso_3166_1': 'US', 'name': 'United States o...",...,7.7,5415,Animation,Comedy,Family,,True,,,1
1,False,NaN,65000000,8844,tt0113497,en,jumanji,when siblings judy and peter discover an encha...,17.015539,"[{'iso_3166_1': 'US', 'name': 'United States o...",...,6.9,2413,Adventure,Fantasy,Family,,False,,,2
3,False,NaN,16000000,31357,tt0114885,en,waiting to exhale,"cheated on, mistreated and stepped on, the wom...",3.859495,"[{'iso_3166_1': 'US', 'name': 'United States o...",...,6.1,34,Comedy,Drama,Romance,,False,,,1
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,11862,tt0113041,en,father of the bride part ii,just when george banks has recovered from his ...,8.387519,"[{'iso_3166_1': 'US', 'name': 'United States o...",...,5.7,173,Comedy,,,,False,,,1
5,False,NaN,60000000,949,tt0113277,en,heat,"obsessive master thief, neil mccauley leads a ...",17.924927,"[{'iso_3166_1': 'US', 'name': 'United States o...",...,7.7,1886,Action,Crime,Drama,Thriller,False,,,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45399,False,NaN,750000,280422,tt3805180,ru,–≤—Å–µ –∏ —Å—Ä–∞–∑—É,NaN,0.201582,"[{'iso_3166_1': 'RU', 'name': 'Russia'}]",...,6.0,4,Crime,Comedy,,,False,,,1
45401,False,NaN,0,240789,tt1197626,ru,—á—É–¥–æ,the film is based on real events that took pla...,0.436028,"[{'iso_3166_1': 'RU', 'name': 'Russia'}]",...,6.3,3,Drama,History,Mystery,,False,,,1
45409,False,NaN,800000,62757,tt0933361,en,dikari,"the sea, august, interesting and simple people...",0.903061,[],...,5.8,6,Comedy,Drama,,,False,,,1
45412,False,NaN,2000000,63281,tt1718881,en,–ø—Ä–æ –ª—é–±–æff,"—É –¥–µ–≤—É—à–∫–∏ –¥–∞—à–∏, –ø—Ä–∏–µ—Ö–∞–≤—à–µ–π —Å –ø–æ–¥—Ä—É–≥–æ–π ¬´–ø–æ–∫–æ—Ä—è—Ç...",0.121844,"[{'iso_3166_1': 'RU', 'name': 'Russia'}]",...,4.0,3,Romance,Drama,,,False,,,1
45422,False,NaN,5000000,63898,tt1110037,ru,–∞–Ω—Ç–∏–¥—É—Ä—å,failing to complete an important assignment wi...,0.039793,"[{'iso_3166_1': 'RU', 'name': 'Russia'}]",...,1.0,1,Action,Comedy,Crime,Foreign,False,,,1